.grid-container{
    display: grid;
    grid-gap: 10px;
}
form#movtitle{
    font-size: 140%;
}

div#nom{
    font-size: 140%;
}
div#banner-content { 
    width: 100%; 
    margin: 0 auto; 
    padding: 60px; 
    color: white;
    font-size: xx-large;
}

div#banner { 
    top: 0; 
    left: 0; 
    background-color: #eeae95; 
    width: 100%; 
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.searchbox{
    background-color: #ffffff; 
    grid-column: 1;
    padding-left: 20%;
    padding-top: 10%;
}

.movie_details{
    font-weight: bold; 
    font-weight: 700;
    align-content: center;
    text-align: left;
    background-color: #ffffff; 
    width: 60%;
    padding-top: 10%;
}

div#nom_container{
    align-content: center;
    background-color: #ffffff; 
    grid-column: 3;
    width: 100%;
    padding-top: 10%;
}