.grid-container{
    display: grid;
    grid-gap: 10px;
}
form#movtitle{
    font-size: 140%;
}

div#nom{
    font-size: 140%;
}
div#banner-content { 
    width: 100%; 
    margin: 0 auto; 
    padding: 60px; 
    color: white;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

div#banner { 
    top: 0; 
    left: 0; 
    background-color: #eeae95; 
    width: 100%; 
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.searchbox{
    background-color: #ffffff; 
    grid-column: 1;
    padding-left: 20%;
    padding-top: 10%;
}

.movie_details{
    font-weight: bold; 
    font-weight: 700;
    align-content: center;
    text-align: left;
    background-color: #ffffff; 
    width: 60%;
    padding-top: 10%;
}

div#nom_container{
    align-content: center;
    background-color: #ffffff; 
    grid-column: 3;
    width: 100%;
    padding-top: 10%;
}

.grid-container{
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
}

.searchbtn, .nominatebtn, .removebtn{
	display: inline-block;
    padding: .2rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    background-color: #eeae95;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}